/* ============================== */
/* 🔸 Initial Setting — START     */
/* ============================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fonts */
.jetbrains-mono-medium {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  background-color: #f6f6f6;
}

body {
  margin: 0;
  justify-content: center;
  align-items: center;
}

img,
picture {
  display: block;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.4rem;
}

/* ============================== */
/* 🔸 Initial Setting — END       */
/* ============================== */

/* ---- */

/* ============================== */
/* 🔸 Calculator — START     */
/* ============================== */

/* ---------- Wrapper — START ---------- */

#calculator-wrapper {
  width: 25rem;
  height: 33rem;
  border: 3px solid #000000;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1.3rem 1rem 2rem 1rem;
  justify-content: flex-start;
  gap: 1rem;
  position: relative;
}

/* Cat */
#cat {
  position: absolute;
  top: -18%;
  right: 0;
  width: 50%;
}

@media screen and (width <= 480px) {
  #calculator-wrapper {
    width: 100%;
    border: none;
    border-radius: 0;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    height: 32rem;
  }

  #cat {
    top: -18%;
  }
}

/* ---------- Wrapper — END ---------- */

/* ---------- Logo — START ---------- */

#header {
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}

#logo {
  width: 6rem;
  height: auto;
}

#btn-sound-switch {
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-sound-switch img {
  width: 40%;
  height: auto;
}
/* ---------- Logo — END ---------- */

/* ---------- Display — START ---------- */

#calculator-display {
  flex-direction: column;
  border: 3.5px solid #000;
  border-radius: 0.5rem;
  width: 100%;
  height: 17rem;
  background-color: #cfffe2;
  align-items: flex-end;
  padding: 1.3rem 1.2rem 0.5rem 1.2rem;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 1.2rem;
}

#calculator-display-row-top {
  font-size: 1.8rem;
  color: #0d5e51;
}

#calculator-display-row-bottom {
  font-size: 2.6rem;
  font-weight: 500;
  max-width: 100%;
  overflow: hidden;
}

@media screen and (width <= 480px) {
  #calculator-display {
    height: 13rem;
  }

  #calculator-display-row-top {
    font-size: 1.6rem;
  }

  #calculator-display-row-bottom {
    font-size: 2rem;
  }
}
/* ---------- Display — END ---------- */

/* ---------- Keypad — START ---------- */

#calculator-keypad {
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
}

.row {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-between;
}

#calculator-keypad button {
  border: 2px solid #000;
  width: 24%;
  height: 100%;
  border-radius: 1.3rem;
}

/* ---------- Operators key — START ---------- */

#btn-plus-minus,
#btn-clear-all,
#btn-clear,
#btn-divide,
#btn-multiply,
#btn-minus,
#btn-plus {
  background-color: #a2d5c6;
}

/* ---------- Operators key — END ---------- */

#btn-equal,
#btn-sound-switch {
  background-color: #cfffe2;
}

button:active {
  transform: scale(0.91);
  transition: 0.1s;
}

/* ---------- Keypad — END ---------- */
/* ============================== */
/* 🔸 Calculator — END       */
/* ============================== */
